.space3d {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    width: 250px;
    height: 250px;
    text-align: center;
    display: inline-block;
    margin-bottom: 150px;
    margin-top: 75px;
  }
  ._3dbox {
    display: flex;
    transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(30deg) translate(-100px);
  }
  .threedface {
    overflow: hidden;
    position: absolute;
    border: 1px solid #888;
    background: #FFF;
    color: #333;
    line-height: 250px;
  }
  .front {
    width: 400px;
    height: 300px;
    transform: translate3d(0, 0, 150px);
  }
  .top {
    width: 400px;
    height: 300px;
    transform: rotateX(90deg) translate3d(0, 0, 150px);
  }
  .bottom {
    width: 400px;
    height: 300px;
    transform: rotateX(-90deg) translate3d(0, 0, 150px);
  }
  .left {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -125px;
    transform: rotateY(-90deg) translate3d(0, 0, 150px);
  }
  .right {
    width: 300px;
    height: 300px;
    left: 50%;
    margin-left: -125px;
    transform: rotateY(90deg) translate3d(0, 0, 250px);
  }
  .back {
    width: 400px;
    height: 300px;
    transform: rotateY(180deg) translate3d(0, 0, 150px);
  }


  .front img {
    background-size: 100%;
    background-size:cover;
  }
  .left img {
    background-size: auto 100%;
    background-size:cover;
  }
  .right img {
    background-size: auto 100%;
    background-size:cover;
  }
  .top img {
    background-size: auto 100%;
    background-size:cover;
  }
  .bottom img {
    background-size: auto 100%;
    background-size:cover;
  }
  .back img {
    background-size: auto 100%;
    background-size:cover;
  }
.both{
    display: flex;
    flex-direction: column;
}
.text{
  width: 300px;
  word-wrap:break-word;
  color: blue;
  
}