.page {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-left: auto;
}
.button {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
}
.content {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content Button {
  margin: 5px;
  
}
.textBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 15px;
  margin-bottom: 150px;
  margin-top: 5px;
}
.textBlock textarea{
  width: 250px;
  height: 90px;
}
.preview{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 293px;
  height: 220px;
  border: .1px solid black;
  overflow-wrap: break-word;
}
.cubepreview{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border: .1px solid black;
  overflow-wrap: break-word;
}
.text{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 10px;
}
.textBlockSelect{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.textBlockSelect p {
  text-align: center;
}
.cubepreview p, .preview p {
  text-align: center;
font-size: x-large;
font-weight: bold;
}